<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "CX3D3YSGSF..com.marantecamerica.com.MAC2015"
    version   = "1.0.0">
<cordova>
    
</cordova>
<name>Marantec America Garage Door Openers</name>

<description>
Marantec America Garage Door Openers App
</description>
<preference name="stay-in-webview" value="false" />
<gap:plugin name="com.phonegap.plugins.childbrowser" />

<gap:splash src="splash.png" gap:platform="ios" width="320" height="480" />
<icon src="apple-touch-icon-ipad.png" gap:platform="ios" width="57" height="57" />
<icon src="apple-touch-icon-iphone4.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<author href="http://32f.com" email="trench@32f.com">
Marantec America
</author>

</widget>
